<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Here are all the schools</h1>

<form action="{% url 'printStudent' %}" method="post">
    {% csrf_token %}
    {% for eachSchool in allSchool %}
        <p>{{ eachSchool.name }} with {{ eachSchool.students}} students id{{ eachSchool.id }}<a href="{% url 'addStudentToSchool' eachSchool.id %} ">Add</a></p>
    {% endfor %}

<input type="text" name="studentName">
<input type="number" name="studentAge">
<button>Submit</button>
</form>
</body>
</html>